.services-heading{
    margin: 40px 0px 0px 20px;
    position: relative;
    
}
.services-heading::after{
    position: absolute;
    content:"";
    display: block;
    background-color: blue;
    margin-top: 10px;
    /* border: 1px solid blue; */
    height: 3px;
    width: 80px;
}
.services-paragraph{
    font-size: 20px;
    margin: 40px 0px 0px 20px;
}

.briefcaseicon{
    font-size: 40px;
    margin: 50px 0px 0px 20px;
   color: #149ddd; 
}

.heading1{
    margin: -43px 0px 0px 75px;
}

.content1{
    width: 300px;
    margin: 15px 0px 0px 75px;
    font-size: 20px;

}

.listicon{
    font-size: 40px;
    margin: 50px 0px 0px 20px;
   color: #149ddd; 
}

.heading2{
    margin: -43px 0px 0px 75px;
}

.content2{
    width: 300px;
    margin: 15px 0px 0px 75px;
    font-size: 20px;
}


.baricon{
    font-size: 40px;
    margin: 50px 0px 0px 20px;
   color: #149ddd;
}

.heading3{
    margin: -43px 0px 0px 75px;
}

.content3{
    width: 300px;
    margin: 15px 0px 0px 75px;
    font-size: 20px;
}